In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
import logging
import datetime

In [2]:
start_time = datetime.datetime.now()

In [3]:
TOLL_PLAZAS_INPUT='tool_plazas.csv' # this file contains list of toll plazas generated from the previous script along with lat and long
FINAL_TOLL_FILE='toll_plaza_data.csv'

In [4]:
# Configure logging
logging.basicConfig(level=logging.INFO)
logging.basicConfig(format="%(asctime)s - %(levelname)s - %(message)s",datefmt="%Y-%m-%d %H:%M:%S",force=True)

In [5]:
pd.options.display.max_colwidth=500

In [6]:
base_url="https://tis.nhai.gov.in/TollInformation.aspx?TollPlazaID="

In [7]:
toll_plazas_df=pd.read_csv(TOLL_PLAZAS_INPUT,encoding='cp1252')

In [8]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode
driver = webdriver.Chrome(options=options)
driver.implicitly_wait(10)

In [9]:
# toll_plazas_df.head()

In [10]:
# toll_plazas_df.info()

In [11]:
toll_plazas_df.shape[0]

1051

# Below data needs to be collected for each of the toll plaza

1) Toll info
    Stretch 
    Tollable Length
    Fee Effective Date
    Due date of toll revision
2) Concessions
3) Facilities available near Toll Plaza
4) Announcement
5) Important Information
6) About toll construction
7) Toll Fees for vehicles

# Construct all toll plaza urls

## 1) Toll info : Stretch,Tollable Length,Fee Effective Date,Due date of toll revision

In [12]:
def get_toll_info(soup):
    # logging.info("Getting toll information ")
    p_tags = [p.get_text(" ", strip=True) for p in soup.find_all("p")]
    data = {"Stretch": [], "Tollable Length": [], "Fee Effective Date": [], "Due Date of Toll Revision": []}
    # Extract required details
    for text in p_tags:
        if "Stretch :" in text:
            data["Stretch"].append(text.split("Stretch :")[1].split("Tollable Length :")[0].strip())
        if "Tollable Length :" in text:
            data["Tollable Length"].append(text.split("Tollable Length :")[1].strip())
        if "Fee Effective Date :" in text:
            parts = text.split("/")
            data["Fee Effective Date"].append(parts[0].split("Fee Effective Date :")[1].strip())
            data["Due Date of Toll Revision"].append(parts[1].split("Due date of toll revision :")[1].strip())
    add_info_df = pd.DataFrame(data)
    return add_info_df

## 2) Concessions

In [13]:
def get_concession_table1(soup):
    # logging.info("Getting Concessions table")
    concession_section = soup.find("h2", string="Concessions")
    if concession_section:
        concession_table = concession_section.find_next("span")
        # concession_data=concession_table.text
        concession_data = {'Concessions':[concession_table.text]}
    df_concession = pd.DataFrame(concession_data)
    return df_concession

In [14]:
def get_concession_table(soup):
    # logging.info("Getting Concessions table")
    concession_section = soup.find("h2", string="Concessions")
    if concession_section:
        try:
            concession_table = concession_section.find_next("span")
            # concession_data=concession_table.text
            concession_data = {'Concessions':[concession_table.text]}
            df_concession = pd.DataFrame(concession_data)
        except:
            concessions = []
            concession_list = concession_section.find_next("ul").find_all("li")
            for item in concession_list:
                concessions.append(item.text.strip())
            concessions=".".join(concessions)
            df_concession = pd.DataFrame([concessions], columns=["Concessions"])
    return df_concession

## 3) Facilities available near Toll Plaza

In [15]:
def get_facilities_near_toll(soup):
    # logging.info("Getting Facilities available near Toll Plaza")
    facilities_section = soup.find("h2", string="Facilities available near Toll Plaza")
    facilities_data = []
    if facilities_section:
        facilities_table = facilities_section.find_next("div").find_all("table")
        for table in facilities_table:
            for row in table.find_all("tr"):
                cols = row.find_all("td")
                if len(cols) == 2:
                    # key = cols[0].text.strip()
                    key=cols[0].text.replace(":","").strip()
                    value = cols[1].text.strip()
                    facilities_data.append((key, value))
    df_facilities = pd.DataFrame(facilities_data, columns=["Facility", "Availability"])
    df_facilities=df_facilities.T
    df_facilities.reset_index(drop=True, inplace=True)
    df_facilities.columns = df_facilities.iloc[0] 
    df_facilities=df_facilities[1:].reset_index(drop=True)
    return df_facilities

## 4) Announcement

In [16]:
def get_announcement_info(soup):
    # logging.info("Getting Announcement info")
    announcement_section = soup.find("h2", string="Announcement")
    announcements = []
    if announcement_section:
        announcement_list = announcement_section.find_next("ul").find_all("li")
        for item in announcement_list:
            announcements.append(item.text.strip())
    df_announcements = pd.DataFrame(announcements, columns=["Announcement"])
    return df_announcements

## 5) Important Information

In [17]:
def get_important_info(soup):
    # logging.info("Getting Important Information table")
    important_info_section = soup.find("h2", string="Important Information")
    important_info_data = []
    if important_info_section:
        info_table = important_info_section.find_next("table")
        for row in info_table.find_all("tr"):
            cols = row.find_all("td")
            if len(cols) == 2:
                key=cols[0].text.replace(":","").strip()
                value = cols[1].text.strip()
                important_info_data.append((key, value))
    df_important_info = pd.DataFrame(important_info_data, columns=["Category", "Details"])
    df_important_info=df_important_info.T.reset_index(drop=True)
    df_important_info.columns=df_important_info.iloc[0]
    df_important_info=df_important_info.iloc[1:]
    df_important_info.reset_index(drop=True,inplace=True)
    return df_important_info

## 6) About toll construction

In [18]:
def get_toll_construction_info(table):
    # logging.info("Getting Project Information table")
    project_data = []
    for row in table.find_all("tr"):
        cols = row.find_all("td")
        if len(cols) == 2:
            key = cols[0].text.strip()
            value = cols[1].text.strip()
            project_data.append((key, value))
    df_project_info = pd.DataFrame(project_data, columns=["Parameter", "Value"])
    df_project_info=df_project_info.T.reset_index(drop=True)
    df_project_info.columns=df_project_info.iloc[0]
    df_project_info=df_project_info[1:].reset_index(drop=True)
    return df_project_info

## 7) Toll Fees for vehicles

In [19]:
def get_toll_fees(tables):
    # logging.info("Getting Toll Fees for Vehicles")
    toll_data = []
    headers = [th.text.strip() for th in tables.find_all("th")]
    headers=headers[:5]
    for row in tables.find_all("tr")[1:]:  # Skip header row
        cols = row.find_all(["th", "td"])
        if len(cols) >0:
            toll_data.append([col.text.strip() for col in cols])
    df_toll_price = pd.DataFrame(toll_data, columns=headers)
    		
    rows=list(df_toll_price.index)
    cols=list(df_toll_price.columns)[1:]
    column_names=[]
    row_values=[]
    for row_idx in rows:
        for col_idx in cols:
            col_name = f"{df_toll_price.at[row_idx,'Type of vehicle']}_{col_idx}"
            column_names.append(col_name)
            row_values.append(df_toll_price.at[row_idx,col_idx])
    toll_price_df=pd.DataFrame([row_values],columns=column_names)
    return toll_price_df

# Get html page objects for the given toll plaza. e.g tables, textual information

In [20]:
def get_html_page_objects(plaza_url):
    try:
        driver.get(plaza_url)
        html_content=driver.find_element(By.CSS_SELECTOR,'div.PA15').get_attribute("outerHTML")
        # Parse the HTML using BeautifulSoup
        soup = BeautifulSoup(html_content, "html.parser")
        
        add_info_df=get_toll_info(soup)
        # display(add_info_df)
        
        df_concession=get_concession_table(soup)
        # display(df_concession)
        
        df_facilities=get_facilities_near_toll(soup)
        # display(df_facilities)
        
        df_announcements=get_announcement_info(soup)
        # display(df_announcements)
        
        df_important_info=get_important_info(soup)
        # display(df_important_info)
        # Find all tables
        tables = soup.find_all("table", class_="tollinfotbl")
        df_project_info=get_toll_construction_info(tables[1])
        # display(df_project_info)
        
        toll_price_df=get_toll_fees(tables[0])
        # display(toll_price_df)
        
        frames = [add_info_df,df_concession,df_facilities,df_announcements,df_important_info,df_project_info,toll_price_df]
        derived_df=pd.concat(frames, axis=1)
        # print(derived_df.shape)
        logging.debug(f"Derived data frame shape = {derived_df.shape}")
    except Exception as e:
        # print(type(e).__name__)
        return pd.DataFrame()
    return derived_df

# Main starts here

In [21]:
print(f"Total number of toll plazas = {toll_plazas_df.shape[0]}")

Total number of toll plazas = 1051

In [22]:
# toll_plaza_urls[0:2]

In [23]:
header_row ="SR.No|Toll Plaza Name|Toll Plaza ID|URL|Status"
logging.info(header_row)
with open("enriched_data_log.txt", 'a') as file:
    file.writelines(header_row.replace("|",",")+"\n")
enriched_df = pd.DataFrame()
for idx in range(0,toll_plazas_df.shape[0]): #toll_plazas_df.shape[0]
    toll_plaza_name= toll_plazas_df['Toll Plaza Name'][idx]
    toll_plaza_id=toll_plazas_df['TollPlazaID'][idx]
    plaza_url = f"{base_url}{toll_plaza_id}"

    df=get_html_page_objects(plaza_url)
    if not df.empty:
        df.insert(0,'toll_plaza_id',toll_plaza_id)
        status = "PASS"
    else:
        df = pd.DataFrame(data = {'toll_plaza_id':[toll_plaza_id]})
        status = "FAIL"
    enriched_df=enriched_df._append(df,ignore_index=True)
    log = f"{idx},{toll_plaza_name},{toll_plaza_id},{plaza_url},{status}"
    # logging.info(log.replace(",","|"))
    with open("enriched_data_log.txt", 'a') as file:
        file.writelines(log+"\n")

2025-04-24 17:33:11 - INFO - SR.No|Toll Plaza Name|Toll Plaza ID|URL|Status

In [24]:
enriched_df.shape

(1051, 58)

In [25]:
toll_plazas_df.shape

(1051, 11)

In [102]:
merged_df=toll_plazas_df.merge(enriched_df,left_on='TollPlazaID',right_on='toll_plaza_id',how='left')

In [103]:
merged_df.drop_duplicates(subset=['Sr No.'],keep='first',inplace=True)

In [104]:
merged_df.shape

(1051, 69)

In [105]:
merged_df

,Sr No.,State,NH-No.,Toll Plaza Name,Toll Plaza Location,Section / Stretch,TollPlazaID,latitude,longitude,place_id,...,4 to 6 Axle_Monthly Pass,4 to 6 Axle_Commercial Vehicle Registered within the district of plaza,HCM/EME_Single Journey,HCM/EME_Return Journey,HCM/EME_Monthly Pass,HCM/EME_Commercial Vehicle Registered within the district of plaza,7 or more Axle_Single Journey,7 or more Axle_Return Journey,7 or more Axle_Monthly Pass,7 or more Axle_Commercial Vehicle Registered within the district of plaza
0,1,Andhra Pradesh,16,Aganampudi,Km 728.055,Vishakhapatnam - Ankapalli [Km 2.837 to &Km 395.870 to Km358.00(New Chainage From Km 700.544 to Km 740.255)],236,17.685417,83.149951,ChIJyaj65ttuOToRH26fq-li1fY,...,11855.00,180.00,355.00,535.00,11855.00,180.00,435.00,650.00,14430.00,215.00
1,2,Andhra Pradesh,7 (new 44),Amakathadu,Km 250.700,Hyderabad Bangalore (km 211.000 to km 462.164),258,15.486477,77.900943,ChIJG6ZfoqN_tjsR6hw94uU86QQ,...,24680.00,370.00,900.00,1110.00,24680.00,370.00,900.00,1350.00,30045.00,450.00
2,3,Andhra Pradesh,NH-216,Annampalli,Annampalli,Gurajanapalli To pasarlapudi,5977,16.672228,82.147390,ChIJcw8uBaz1NzoRMva9Ii5taRE,...,11050.00,165.00,330.00,495.00,11050.00,165.00,405.00,605.00,13450.00,200.00
3,4,Andhra Pradesh,221,Badava,35.800,Imbrahimpatnam to AP Telangana Border,4486,16.850475,80.633584,ChIJr0zTpNLaNToReLaGbihNfUU,...,13250.00,200.00,395.00,595.00,13250.00,200.00,485.00,725.00,16130.00,240.00
4,5,Andhra Pradesh,NH40,Bandaplli,119.945 Bandaplli,Rayachoty Kadapa Section,5697,14.131199,78.756682,ChIJ2T3B-NwFszsRs_e_vnu63yw,...,9785.00,145.00,295.00,440.00,9785.00,145.00,355.00,535.00,11910.00,180.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,1047,West Bengal,NH34 (Old) NH12 (New),Sali Bamandanga,141.14,Krish0garBaharampore section of NH34 from Km 115.342 to Km 191.700 (76.358 Km),5634,23.629326,88.360203,ChIJPzTGuckR-TkRKQq1DNA9tD8,...,18350.00,275.00,670.00,825.00,18350.00,275.00,670.00,1005.00,22340.00,335.00
1093,1048,West Bengal,31C,Satbhaiya,Km. 23.400,Satbhaiya,5686,26.670762,88.219338,ChIJd31jym5M5DkR1eu8qsUHxNk,...,11640.00,175.00,350.00,525.00,11640.00,175.00,425.00,640.00,14170.00,215.00
1094,1049,West Bengal,41,Sonapetya,Gobindopur Tamluk Purba Medinipur West Bengal 721627,Kolaghat Haldia Km 0.000 to Km.53.472 of NH116,232,22.335448,87.869503,ChIJ-5DNfBGWAjoRy3FsTTJO-ug,...,19980.00,300.00,600.00,900.00,19980.00,300.00,730.00,1095.00,24320.00,365.00
1095,1050,West Bengal,31 (new17),Sulkhapara,Km. 117.050,Mongpong to ChalsaTelipara,5664,26.857390,88.907853,ChIJJ-aLsrTz4zkRWs64obc3jzA,...,12090.00,180.00,365.00,545.00,12090.00,180.00,440.00,660.00,14720.00,220.00
1096,1051,West Bengal,31,Surjapur,Km 451.00,Dalkhola - Islampur (Km 447.00 - Km 498.970),281,25.933532,87.843147,ChIJn-gY-bJA5TkRZ2Ia-0B_q9g,...,18775.00,280.00,565.00,845.00,18775.00,280.00,685.00,1030.00,22855.00,345.00

In [106]:
# merged_df.isnull

In [107]:
import numpy as np
merged_df.replace(np.NaN,'NA',inplace=True)
merged_df.replace('','NA',inplace=True)

In [108]:
import os
if os.path.exists(FINAL_TOLL_FILE):
    logging.info(f"The file already exist.Deleting {FINAL_TOLL_FILE}")
    os.remove(FINAL_TOLL_FILE)
else:
    logging.info(f"The file does not exist.Creating {FINAL_TOLL_FILE}")

2025-04-24 19:35:14 - INFO - The file already exist.Deleting toll_plaza_data.csv

## Rename the columns to suite the sql DB

In [109]:
new_columns=list(merged_df.columns)
new_columns = [ col.lower() for col in new_columns]
new_columns=[col.replace('/','_') for col in new_columns ]
new_columns=[col.replace(' ','_') for col in new_columns ]
new_columns=[col.replace('___','_') for col in new_columns ]
new_columns=[col.replace('(','_') for col in new_columns]
new_columns=[col.replace(')','_') for col in new_columns]
new_columns=[col.replace('__','_') for col in new_columns]
new_columns=[col.replace('-','_') for col in new_columns]
new_columns=[col.replace('.','') for col in new_columns]
new_columns=[col[:-1] if col.endswith('_') else col for col in new_columns]
new_columns=['_'+col if col[0].isnumeric() else col for col in new_columns]

In [110]:
new_columns=[col.replace('registered_within_the_district_of_plaza','reg_in_district') \
             if (len(col) >59) and ('registered_within_the_district_of_plaza' in col) else col  for col in new_columns]

In [111]:
merged_df.columns=new_columns

In [112]:
merged_df.to_csv(FINAL_TOLL_FILE,index=False) #'toll_plaza_data.csv'

In [113]:
end_time = datetime.datetime.now()
time_taken = end_time - start_time
format="%y-%m-%d %H:%M:%S"
print(f"Start Time = {start_time.strftime(format)}")
print(f"End Time = {end_time.strftime(format)}")
print(f"Total Execution time = {round(time_taken.total_seconds(),2)} sec")

Start Time = 25-04-24 17:33:08
End Time = 25-04-24 19:35:22
Total Execution time = 7333.65 sec

In [114]:
# new_columns

In [116]:
# merged_df